/* The stuff that makes it look cool */
/* Reset some default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: #333;
  overflow-x: hidden;
}

/* Navbar styles */
header {
  background-color: #385fc4;
  color: white;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
  padding: 10px 0;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100;
}

nav ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
}

nav li {
  margin: 0 20px;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s ease-in-out;
}

nav a:hover {
  color: #203471;
}

/* Hero section styles */
/* Animation keyframes for fading in text */
@keyframes fadeInLogoAnimation {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Keyframes animation for fading in the text and buttons */
@keyframes fadeInTextButtonsAnimation {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Apply the animation to the hero text and buttons */
.hero-text,
.cta-buttons {
  opacity: 0;
  animation: fadeInTextButtonsAnimation 1.5s ease-in-out forwards;
}

.hero {
  background-color: #5e82e0;
  color: white;
  text-align: center;
  padding: 150px 0;
  position: relative;
  overflow: hidden; /* Hide any overflow content */
}

/* Add a class for animating the text fade-in effect */
.fade-in {
  opacity: 0;
  animation: fadeInAnimation 1.5s ease-in-out forwards;
}

/* Add a class for showing the hero content */
.hero-content-show {
  transform: translateY(0);
  opacity: 1;
}

.hero-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 900px;
  margin: 0 auto;
  transform: translateY(50px);
  opacity: 0;
  animation: fadeInAnimation 1.5s ease-in-out forwards;
}

@keyframes fadeInAnimation {
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.hero-text {
  max-width: 600px;
  padding-right: 30px; /* Adjusted padding to create space */
  text-align: left; /* Align text to the left */
}

.hero-title {
  font-size: 42px; /* Larger title font size */
  margin-bottom: 10px;
}

.hero-description {
  font-size: 18px;
  margin-bottom: 20px;
}

.cta-buttons {
  display: flex;
  flex-direction: row; /* Keep buttons in a row by default */
  align-items: center; /* Center align the buttons */
  margin-top: 10px; /* Add a small top margin */
}

.cta-button {
  display: inline-block;
  background-color: #385fc4;
  color: white;
  padding: 10px 25px; /* Buttons have the same padding */
  border-radius: 5px;
  text-decoration: none;
  font-weight: 500;
  transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
  margin-right: 10px; /* Add spacing between buttons */
}

.cta-button:hover {
  background-color: #2c53ba; /* Hover effect color */
  transform: scale(1.05);
}

.hero-logo {
  width: 130px; /* Larger logo width */
  height: auto;
  position: absolute;
  top: 10px; /* Adjust vertical position */
  right: 120px; /* Adjust horizontal position */
  transform: translate(0, -50%);
  transition: transform 0.4s ease-in-out; /* Add transition for hover effect */
  animation: wave 3s infinite linear,
    fadeInLogoAnimation 1.5s ease-in-out forwards;
}

.hero-logo img {
  width: 250px; /* Larger logo width */
  height: auto;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
  .cta-buttons {
    flex-direction: column; /* Stack buttons vertically */
  }

  .cta-button {
    margin-right: 0; /* Remove margin between vertically stacked buttons */
    margin-bottom: 15px; /* Add margin between vertically stacked buttons */
  }

  .hero-text {
    padding-right: 15px; /* Reset padding */
    text-align: center; /* Center-align text on mobile */
  }

  .hero-description {
    padding-right: 20px; /* Reset padding */
    text-align: center; /* Center-align text on mobile */
  }

  .hero-logo {
    width: 260px; /* Smaller logo width for smaller screens */
    top: 50px; /* Adjust vertical position on mobile */
    right: 40px; /* Adjust horizontal position on mobile */
    transform: none;
    position: static;
  }
}

@keyframes wave {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px); /* Adjust wave animation */
  }
}

/* Features section styles */
.features {
  background-color: #f8f9fa;
  padding: 40px 0;
  text-align: center;
}

.features h2 {
  font-size: 28px;
  margin-bottom: 30px;
  color: #333;
}

.feature-box-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; /* Allow boxes to wrap onto the next line */
  max-width: 1200px;
  margin: 0 auto;
}

.feature-box {
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  padding: 30px;
  border: 2px solid #5e82e0;
  transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
  width: calc(33.33% - 40px); /* 3 boxes in a row with margin in between */
  text-align: center;
  margin: 20px;
  transform-style: preserve-3d;
}

.feature-box:hover {
  transform: translateY(-5px);
  background-color: #f1f1f1; /* Highlight background color */
}

.feature-box h3 {
  font-size: 24px;
  margin-bottom: 15px;
  color: #385fc4;
}

.feature-box p {
  font-size: 16px;
  color: #555;
}

/* Stats section styles */
.stats {
  background-color: #5e82e0;
  padding: 60px 0;
  text-align: center;
  color: white;
}

.stats h2 {
  font-size: 30px;
  margin-bottom: 40px;
}

.stats-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.stats-graphic img {
  max-width: 300px;
  height: auto;
}

.stats-details {
  max-width: 500px;
  text-align: left;
  color: white;
}

.stats-details h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.stats-details p {
  font-size: 18px;
  margin-bottom: 20px;
}

/* Footer styles */
footer {
  background-color: #385fc4;
  color: white;
  padding: 40px 0;
  text-align: center;
}

.footer-links {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 800px;
  margin: 0 auto;
}

.about-links,
.bot-links {
  flex: 1;
  padding: 0 15px;
  max-width: 400px;
  margin: 0 auto;
}

.footer-links ul {
  list-style-type: none;
  padding: 0;
}

.footer-links li {
  margin-bottom: 10px;
}

.footer-links a {
  color: white;
  font-size: 14px;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

.footer-links a:hover {
  color: #4e98e7;
}

.footer-copy {
  margin-top: 30px;
  color: rgba(255, 255, 255, 0.8);
  font-size: 14px;
}

/* Style the under construction page */
.under-construction {
  text-align: center;
  padding: 50px; /* Adjusted padding */
}

.under-construction h1 {
  font-size: 24px; /* Adjusted font size */
  margin-bottom: 15px; /* Adjusted margin */
}

.under-construction p {
  font-size: 16px; /* Adjusted font size */
  margin-bottom: 20px; /* Adjusted margin */
}

.back-button {
  display: inline-block;
  background-color: #385fc4;
  color: white;
  padding: 10px 25px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: 500;
  transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.back-button:hover {
  background-color: #2c53ba;
  transform: scale(1.05);
}

/* Media queries for responsiveness */
@media (max-width: 1200px) {
  .hero h1 {
    font-size: 28px;
    margin-bottom: 15px;
  }

  .hero p {
    font-size: 16px;
    margin-bottom: 30px;
  }

  .cta-button {
    padding: 8px 20px;
  }

  .feature-box {
    flex: 0 0 calc(45% - 40px);
  }

  footer {
    padding: 30px 0;
  }

  .footer-links {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 768px) {
  .hero h1 {
    font-size: 24px;
  }

  .hero p {
    font-size: 14px;
    margin-bottom: 20px;
  }

  .cta-button {
    padding: 6px 16px;
  }

  .features {
    padding: 40px 0;
  }

  .feature-box {
    flex: 0 0 calc(100% - 40px);
  }

  .stats {
    padding: 40px 0;
  }

  .stats-content {
    flex-direction: column;
    align-items: center;
  }

  .stats-graphic img {
    max-width: 150px;
  }

  .stats-details {
    max-width: 100%;
    text-align: center;
    margin-top: 20px;
  }

  .footer-links {
    max-width: 300px;
  }
}
